{% extends "base_generic.html" %}

{% block content %}
    <hr />
    <h1>{{ object.act_name }}</h1>
    {{ object.act_type }}
    ( Strava = {{ object.strava_id }} )
    <br>         

    <table class="tftable" border="0">
        <tr><th>Distance = {{ object.get_act_dist_km|floatformat:2 }} km</th><th>Dénivelé = {{ object.act_den }} m </th></tr>
        <tr><td>1111 </td><td>333333 </td></tr>
        <tr><td>22222 </td><td>4444444 </td></tr>
    </table>
        
        ---------------------------
        
        
    {{ object.act_start_date|date:"d M Y" }}
    <br> 
    
    <br> 
                               
    <hr />        
    {% if object.get_col_passed  %}
        Nombre de Cols passés: {{ object.get_col_passed|length }}
    {% endif %}
    <br>               
    {%  for col in object.get_col_passed %}     
    
        <div class="cols">      
                
            <li>            
                {{ col.col_code }} : <a href="{{ object.act_id }}/{{ col.get_col_id }}">  {{ col.get_col_name }} </a>                         
            </li>
        </div>
    {% endfor %}

    <br>
            
    <iframe        
        width="1000"
        height="600"
        frameborder=0
        src="{% url 'Activity Map View' act_id=object.act_id %}"
        >
    </iframe>        
            
    
             
{% endblock %}   	



<!doctype html>
 